.popup__button-save_disabled {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  color: #000000;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}