.page {
width: 100%;
margin: 0 auto;
background-color: #000000;
font-family: Inter, "Arial", "Helvetia", sans-serif;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;

}