.profile__button-edit {
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: 1px solid white;
  margin: 10px 0 0 25px;
}

.profile__button-edit:hover {
  transition: 0.1s;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    margin: 0;
    width: 18px;
    height: 18px;
  }
}