.profile__button_type_edit {
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: 1px solid white;
  margin: 10px 0 0 18px;
  transition: .3s;
  align-self: center;

}

.profile__button_type_edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__button_type_edit {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
  }
}