.header {
  max-width: 880px;
  margin: 0 auto 40px auto;
  padding-top: 45px;
  border-bottom: 1px solid rgb(33, 33, 33, .7);
  padding-bottom: 37px;;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-left: auto;
    padding-left: 16px;
    padding-top: 28px;
    max-width: 282px;
    margin-bottom: 38px;
    padding-bottom: 0;
  }
}