.header {
  max-width: 880px;
  margin: 0 auto 40px auto;
  padding: 45px 0 37px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 282px;
    margin: 0 auto 38px auto;
    padding: 28px 0 0 16px;
  }
}