.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-bottom: 36px;
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
  }
}