.profile__profile-info {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .profile__profile-info {
    max-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .profile__profile-info {
    justify-content: space-between;
    max-width: 215px;
  }
}