.profile__description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .profile__description {
    margin-top: 7px;
    text-align: center;
    width: 186px;
  }
}