.elements__list {
  max-width: 880px;
  padding: 0;
  margin: 0 auto 67px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 17px;
}

@media screen and (max-width: 1023px) {
  .elements__list {
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .elements__list {
    margin-bottom: 48px;
    max-width: 282px;
    gap:20px;
  }
}